<!-- head para PC -->
{% extends "invoice/base_invoice.html" %}

{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x" style="margin-top: 1em;">
        <!-- primer bloque pantalla -->
        <div class="cell small-12 large-12">
            <!-- inicio bloque cabecera de factura -->
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 large-12">
                    <h2>Factura</h2>
                </div>
                <table class="hover">
                    <thead>
                        <tr>
                            <th width="150">Cliente</th>
                            <th width="50">Código de factura</th>
                            <th width="50">Fecha</th>
                            <th width="50">Importe bruto</th>
                            <th width="50">Importe IRPF</th>
                            <th width="50">Importe IVA</th>
                            <th width="50">Importe neto</th>
                        </tr>
                    </thead>
                    <tbody>               
                        <tr>
                            <td>{{ invoice.client__alias }}</td>
                            <td>{{ invoice.code }}</td>
                            <td>{{ invoice.date }}</td>
                            <td>
                                {% if invoice.total_amount is None %}
                                    0
                                {% else %}
                                    {{ invoice.total_amount }}
                                {% endif %}
                            </td>
                            <td>
                                {% if invoice.total_irpf_amount is None %}
                                    0
                                {% else %}
                                    {{ invoice.total_irpf_amount }}
                                {% endif %}
                            </td>
                            <td>
                                {% if invoice.total_iva_amount is None %}
                                    0
                                {% else %}
                                    {{ invoice.total_iva_amount }}
                                {% endif %}
                            </td>
                            <td>
                                {% if invoice.total_net_amount is None %}
                                    0
                                {% else %}
                                    {{ invoice.total_net_amount }}
                                {% endif %}
                            </td>                        
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- inicio bloque líneas de factura -->
            <div class="grid-x grid-margin-x">
                <div class="cell small-2 large-2" style="margin-right:0px;">
                    <h2>Desglose</h2>
                </div>
                <div class="cell small-1 large-1 grid-x align-middle" style="margin:0px;">                   
                    <a href="{% url 'invoice_app:invoice-line-add' invoice.id %}"><img src="{% static 'img/nuevo.png' %}" alt="Nueva línea" style="width:60px;height:35px;"></img></a>
                </div>
                <div class="cell small-9 large-9">
                </div>
                <table class="hover">
                    <thead>
                        <tr>
                            <th width="50">Importe bruto</th>
                            <th width="50">Importe neto</th>
                            <th width="50">% IRPF</th>
                            <th width="50">Importe IRPF</th>
                            <th width="50">% IVA</th>
                            <th width="50">Importe IVA</th>
                            <th width="50"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for line in invoice_lines  %}   
                            {% if line.invoice_invoiceline__amount is not None %}
                            <tr>
                                <td>{{ line.invoice_invoiceline__amount }}</td>
                                <td>{{ line.invoice_invoiceline__net_amount }}</td>
                                <td>{{ line.invoice_invoiceline__irpf }}</td>
                                <td>{{ line.invoice_invoiceline__irpf_amount }}</td>
                                <td>{{ line.invoice_invoiceline__iva }}</td>
                                <td>{{ line.invoice_invoiceline__iva_amount }}</td>
                                <div class="reveal" id="form_new_line_{{line.invoice_invoiceline__id}}" data-reveal>
                                    <form class="grid-x grid-margin-x" action="{% url 'invoice_app:invoice-line-delete' line.invoice_invoiceline__id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}                    
                                        <div class="large-6 cell">
                                            <h3>¿Confirmar borrado de la línea?</h3>
                                        </div>                                              
                                        <div class="cell">
                                            <button type="submit" class="success button">Confirmar</button>
                                        </div>   
                                    </form>
                                    <button class="close-button" data-close aria-label="Close modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button> 
                                </div>
                                <td><a data-open="form_new_line_{{line.invoice_invoiceline__id}}"><img src="{% static 'img/eliminar.png' %}" alt="Eliminar" style="width:35px;height:35px;"></img></a></td>                                                                              
                            </tr>
                            {% endif %}    
                        {% empty %}
                        <tr>
                            <td colspan="7">
                                <h3 style="color:red;">No hay resultados</h3>
                            </td>
                        </tr>                        
                        {% endfor %}
                    </tbody> 
                </table>
            </div>
            <!-- FIN bloque de resultados de busqueda -->
        </div>
        <!-- FIN primer bloque pantalla  -->
    </div>
</div>
{% include "includes/footer.html" %}

{% endblock content %}